[submodule "themes/digitalgarden"]
	path = themes/digitalgarden
	url = https://github.com/apvarun/digital-garden-hugo-theme.git
[submodule "themes/hugo-shortcode-roneo-collection"]
	path = themes/hugo-shortcode-roneo-collection
	url = https://gitlab.com/Roneo/hugo-shortcode-roneo-collection.git
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
